{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Problem Solvent: Chat Room</h1>
    <p>Chat with the problem poster and other solution finders.</p>
   <div class="form-group" id="message_form">
      <input type="text" class="form-control" id="msg">
      <input type="submit" class="btn btn-primary" onclick="sendMsg()" value="Send Message">
    </div>
    <div id="messages_box"></div>
  </div>
  <script>
  function sendMsg() {
    $( "#messages_box" ).append( "<p>" + $("#msg").val() + "</p>" );
    $("#msg").text = "";
    
  }
  $("#message_form input").keypress(function(event) {
    console.log(event.which)
    if (event.which == 13) {
        $("#message_form").submit();
    }
  });
</script>
</div>
{% endblock %}
