{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Problem Solvent: Chat Room</h1>
    <p>Chat with the problem poster and other solution finders.</p>
   <div class="form-group" id="message_form">
      <input type="text" class="form-control" id="msg">
      <input type="submit" class="btn btn-primary" onclick="sendMsg()" value="Send Message">
    </div>
    <div id="messages_box">
        {% if message_list %}
            {% for message in message_list %}
                <p class='msg_text'>{{ message.text }}</p>
            {% endfor %}
        {% endif %}
    </div>
  </div>
  <script>
  let name = "User";
  function sendMsg() {
    var msg = $("#msg").val();
    if(msg.length == 0) {
        return;
    }
    //$( "#messages_box" ).append( "<p class='msg_text'>" + $("#msg").val() + "</p>" );
    $("#msg").val("");
    getMessages(name + ": " + msg);
  }
  $("#message_form input").keypress(function(event) {
    //console.log(event.which)
    if (event.which == 13) {
        sendMsg();
    }
  });
  function getMessages(msg) {
  console.log("get messages");
    $.get("chat.html",
    {
        msg: msg,
    },
    function(data, status){
        //console.log(data['msgs']);
        $("#messages_box").html('');
        for(let i = 0; i < data["msgs"].length; i++) {
            $( "#messages_box" ).append( "<p class='msg_text'>" + data["msgs"][i] + "</p>" );
        }
        //alert("Data: " + data + "\nStatus: " + status);
    });
  }
  function get_name() {
    var name_input;
    do {
        name_input=prompt("Please enter your name");
    }
    while(name_input.length < 4);
    name = name_input;
}
get_name();
  function refreshMessages() {
    getMessages("");
    setTimeout(refreshMessages, 1000);
  }
  refreshMessages();
</script>
</div>
{% endblock %}
